@import '~antd/dist/antd.css';

* {
  box-sizing: border-box;
}
body{
    max-width: 1130px!important;
    margin: 0 auto;
  }

contianer{
  width:100%;
  max-width:1200px;
  margin:0 auto;
  display: flex;
  gap: 15px;
  flex-direction: column;
}

nav, nav div{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

}

nav div *{
  padding:10px;

}

/* clamp(1rem, 10vw, 2rem);  */


section{

}

.outline{
  border:solid 1px black;
}

button.search{
  font-size: 30px;
  padding: 0 15px 3px 15px;
}

/* rem */
.logoHoriz{
  background-image:url(../logoHoriz.png);
  height: 112px;
  width: 100%;
  max-width: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.logoVert{
  background-image:url(../logoStacked.png);
  height: 70px;
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.secondNavRow{
  display: flex;
  justify-content: space-between;
  overflow-x: scroll;
}


.headlineRow{
    background-color: #efefef;
    color: dimgray;
    height: 400px;
    max-height:40vw;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.padding{
  padding:15px 20px 15px 20px;
}

.formStoriesRow{
  display: flex;

}

.formCollumn{
  width: 100%;
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-top: none;
  border-left: none;
  max-width: 400px;
  text-align:center;

}

.formHeader, .formHeader *{
  text-align: center;
  max-width: 300px;
  width: 100%;
  margin:0 auto;
}

.formHeader{
  padding-bottom:2rem;

}
.subscribe-checkboxes{
  display: flex;
  align-items: center;
  margin-bottom:20px;
}

.subscribe-checkboxes > * {
  max-width: 40%;
  display: flex;
  margin-bottom: 0;
  align-items: center;
  margin-right: 30px;
}

.storiesCollumn{
  width: 100%;
  padding:20px;
  flex-grow:5;
}

.submitted-container{
  width: 100%;
  text-align: center;
  padding-top: 6rem;
}

button.ant-btn.ant-btn-primary{
  margin: 0 auto;
    display: block;
    font-size: 18px;
    padding: 8px 30px;
    border: 1px solid black;
    height: auto;
    box-shadow: 0px 3.69942px 3.69942px rgb(0 0 0 / 25%);
}

a{
  display: inline-block;
  padding: 5px 8px;
  white-space: nowrap;
  width: fit-content;
  border-radius: 5px;
  text-decoration: none!important;
  font-size:16px;
}


a:hover{
  background: #eeeeee;
}

a.lessPadding{
  padding: 1px 1px;
}

.secondNavRow a {
  font-weight: 600;
  color:#00AEEF;
}




.boxGrid{
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap:20px;
}

.boxRow{
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  height: 100%;
  align-content: stretch;
  justify-content: space-evenly;
  gap:20px;

}

.box{
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  width: 100%;
  min-width: 100px;
}

.icon1{
  background-image:url(../icon1.png);

}

.icon2{
  background-image:url(../icon2.png);

}

.icon3{
  background-image:url(../icon3.png);

}

.icon4{
  background-image:url(../icon4.png);

}


h4, h3, h2{
  margin-top:12px!important;
}

.footer{
  text-align: center;
}

.kebab{
  display: none;
}



@media only screen and (max-width: 650px) {
  .search {
    display: none;
  }
  .menu{
    justify-content: space-between;
    width: 100%;
  }
  .secondNavRow{
    display: none;
  }
  .boxRow{
    flex-wrap: wrap;
  }
  .formStoriesRow{
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .formCollumn{
    max-width: 100%;
    border-top:solid black 1px;
  }
  .menu{
    display: none;
  }
  .kebab{
    display: inline-block;
    margin-left:auto;
  }
  .kebab *{ padding:0;}

}


.ant-form-item-label > label{
  height:20px;
}


.ant-input, .ant-select-selector, .ant-checkbox-inner{
  border: solid 1px black!important;
  border-radius: 1px;
}

.ant-select-selector * {
 text-align: left;
}

.anticon-down{
  color:black;
}

p, label{
  font-size:16px!important;

}